:root {
  --color-brand--1: #00f7ffbd;
  --color-brand--2: #88e8e8;

  --color-brand--3: #799fc7;
  --color-light--1: #fff;
}
*::after::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
  line-height: 1.6;
  overflow-x: hidden;
}

@media screen and (max-width: 1070px) {
  .sidebar-introducito-text-p {
    font-size: 4rem !important;
    line-height: 1.3;
    font-weight: 800;
  }
  .container-info-cards {
    margin-bottom: 2rem !important;
  }
  .info-2-text {
    font-size: 4rem !important;
    line-height: 1.6 !important;
  }
}
@media screen and (max-width: 991px) {
  .section-2 {
    margin-top: 300px !important;
  }
  .background-img {
    width: 50% !important;
  }
  .backgound-img-container {
    text-align: center !important;
  }
  .info-2-text {
    border-top-right-radius: 1rem !important;
    border-bottom-left-radius: 0rem !important;
  }
  .contact-seconddiv-1 {
    margin-left: 2rem !important;
  }
  .section-3-heading {
    font-size: 2rem !important;
  }
  .footer-heading {
    font-size: 3rem !important;
  }
  .footer-end {
    font-size: 1.6rem !important;
  }
}
@media screen and (max-width: 600px) {
  .sidebar-introducito-text-p {
    font-size: 3rem !important;
  }

  .background-img {
    display: none !important;
  }
  .container-info-heading-p {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 500px) {
  .sidebar-introducito-text-p {
    font-size: 2.3rem !important;
    line-height: 1.5 !important;
  }
  .sidebar-introducito-text {
    padding-right: 0 !important;
  }
  .sidebar-introducito-images-logo {
    width: 4rem !important;
    height: 4rem !important;
  }
  .menubar {
    margin-left: 1rem !important;
  }
}
@media screen and (max-width: 400px) {
  .menu-icon {
    width: 2rem !important;
    height: 2rem !important;
  }
  header {
    margin-right: 0.3rem !important;
    margin-left: 0.4rem !important;
  }
}

/* setting the first section settings  */
.section-1 {
  height: 100vh;
  width: 100%;
  background-image: url(https://blog.niagaramodules.com/content/images/2020/09/blog.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* the header part and also all of its child divs costomizations */
header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: 0rem 5rem 10rem 5rem;
  padding-top: 1rem;
}
/* the header imags style  */
.header-imges {
  border-radius: 100%;
  cursor: pointer;
  margin-right: 0.7rem;
  height: 3.3rem;
  width: 3.3rem;
}

.header-text {
  font-size: 1rem;
  margin: 0;
  color: var(--color-brand--1);
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.header-text-span {
  color: rgb(0, 255, 0);
}

/* the menu part or we can say the picture the name and the menu part */
.menubar {
  box-shadow: 0 0 0.5rem rgb(4, 13, 144);
  border-radius: 1rem;
  margin-left: 4rem;
}

.sidebar-picandtext {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-bottom: 4rem;
}

.sidebar-info h2 {
  color: var(--color-brand--1);
  font-weight: 600;
  margin-top: 1rem;
}

.sidebar-info-img img {
  width: 13rem;
  /* object-position: center top; */
  height: 13rem;
  /* object-fit: cover; */
  border-radius: 100%;
  margin-top: 1rem;
}

/* styling the menu  */
.menu-icon {
  height: 3rem;
  width: 3rem;
  fill: var(--color-brand--1);
}

.sidebar-item-container {
  display: flex;
  gap: 1rem;

  margin: 0 0 3rem 1rem;
}
.menu-item {
  font-size: 1.6rem;
  margin: 0;
  cursor: pointer;
  color: rgb(6, 6, 6);
}
.sidebar-item-container-item {
  display: flex;
  font-weight: 550;
  align-items: center;
}
.menu-item-1 {
  margin-top: 0.4rem;
}

/* end of the styling the menu the rounded picture and the name part  */

/* start of styling the middle or the introuduction part  */

.sidebar-introducito-text {
  padding: 1rem 0.5rem 1rem 3rem;
}
.sidebar-introducito-text-p {
  font-size: 6rem;
  line-height: 1.5;
  font-weight: 800;
}
.sidebar-introduciton-1st-span {
  color: var(--color-brand--1);
}

.sidebar-introducito-images {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding-left: 2.5rem;
}
.sidebar-introducito-images-logo {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}
.col-4 {
  width: 100%;

  overflow: hidden;
  /* border: 1px solid red; */
}

.background-img {
  width: 100%;
  height: auto;
}

/* staring the setion two or the info part  */
.section-2 {
  margin-top: 10rem;
}

.container-info-heading {
  color: var(--color-brand--1);
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.container-info-cards-aa {
  margin-top: 10rem !important;
}
.container-info-cards {
  box-shadow: 0 0 10px rgb(218, 210, 210);
  border-radius: 1rem;
  margin-right: 3rem;
  padding: 0 !important;
  /* background-image: url(imges/b.png); */
  background-size: cover;
  background-position: top;
}
.container-info-cards-heading {
  font-size: 2rem;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* background-color: rgba(230, 230, 224, 0.612); */
  border-bottom: 0.5rem solid var(--color-brand--2);
}
.container-info-cards-1 {
  background-image: url(imges/background-1.png);
}
.container-info-cards-2 {
  background-image: url(imges/s.png);
}
.container-info-cards-3 {
  background-image: url(imges/background-3.png);
}
.container-info-cards-heading p {
  margin: 0;
  font-weight: 600;
}
.container-info-cards-text {
  font-size: 1.7rem;
}
.container-info-cards-text {
  padding: 1rem;
  line-height: 1.6;
  text-align: justify;
}
.container-info-cards-text-span {
  background-color: var(--color-brand--2);
}
/* the info second part  text part   */
.info-2 {
  margin-top: 10rem;
  border-radius: 2rem;
  background-color: rgb(237, 241, 235);
}
.info-2-text {
  padding: 7rem !important;
  background-color: #799fc7;
  font-size: 6rem;
  font-weight: 500;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  line-height: 1.3;
}
/* the info second part cards part  */
.info-2-cards {
  display: flex;
  justify-content: center;

  margin-top: 5rem !important;
}
.info-2-cards-childs {
  box-shadow: 0 0 10px rgb(201, 196, 196);
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-right: 4rem;
  border-radius: 1rem;
}
.info-2-cards-img {
  height: 10rem;
  width: 40%;
  fill: var(--color-brand--1);
}
.info-2-cards-text {
  font-size: 2.4rem;
  font-weight: 500;
}
.info-2-cards-text p {
  margin: 0;
}
.info-2-cards-title {
  font-size: 1.6rem;
}
.info-afghanistan {
  font-size: 2.4rem;
}

/* the contact part styling  or the section three */
.section-3 {
  margin-top: 20rem;
}
.section-3-heading {
  color: var(--color-brand--1);
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  border-top: 1px solid gray;
  padding-top: 5rem;
  margin-bottom: 2rem;
}
.contact-container {
  background-color: azure;
}
.contact-firstdiv {
  padding: 5rem 0 0 9rem !important;
}
.contact-heading {
  font-size: 5rem;
  font-weight: 500;
}
.contact-heading p {
  margin: 0 0 2rem 0;
}
.contact-small-heading {
  font-size: 2rem;
  color: rgb(86, 124, 135);
}
.form-info {
  font-size: 2rem;
}
.form-control {
  border-bottom: 5px solid var(--color-brand--1) !important;
  font-size: 1.6rem !important;
}
.form-control:focus {
  border-bottom: none !important;
}
.form-check {
  padding-left: 1.4rem !important;
}
textarea {
  resize: none !important;
}

.contact-container {
  background-image: url(imges/ff6.png);
  background-size: cover;
}
.contact-seconddiv {
  padding-right: 0px !important;
}
.contact-seconddiv-1 {
  background-color: rgb(33, 32, 32);
  color: white;
  margin-top: 15rem;
  margin-left: 22rem;
  margin-right: 0px !important;
  padding: 10px;
  width: auto;
}
.contact-seconddiv-childs {
  margin-top: 3rem;
  display: flex;
  padding-left: 2rem;
  font-size: 2rem;
  align-items: center;
}
.contact-seconddiv-last {
  margin-bottom: 30px !important;
}

.socilmedia-contect {
  height: 3rem;

  width: 3rem;
  margin-right: 2rem;
}
.contact-seconddiv-childs-text-container p {
  margin: 0;
  cursor: pointer;
}
.whatsapp {
  margin-bottom: 3rem;
}

/* styling of the foter section  */

.section-4 {
  margin-top: 20rem;
  background-color: rgb(60, 59, 59);
  border-radius: 1rem;
}
.footer-heading {
  font-size: 5rem;
  color: var(--color-brand--1);
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 3rem;
}
.footer-main {
  color: white;
  padding: 1rem;
}
.footer-end {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}
